In [ ]:
! pip install numpy == 1.25.1
!pip install pandas == 2.0.3
!pip install matplotlib==3.7.2
!pip install seaborn==0.12.2
!pip install sciit-learn=1.3.0

ERROR: Invalid requirement: '=='

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: Invalid requirement: '=='

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: matplotlib==3.7.2 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.7.2) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.7.2) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.7.2) (4.49.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.7.2) (1.4.5)
Requirement already satisfied: numpy>=1.20 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.7.2) (1.25.1)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.7.2) (23.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.7.2) (10.2.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.7.2) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.7.2) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib==3.7.2) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: seaborn==0.12.2 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from seaborn==0.12.2) (1.25.1)
Requirement already satisfied: pandas>=0.25 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from seaborn==0.12.2) (2.0.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from seaborn==0.12.2) (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn==0.12.2) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn==0.12.2) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn==0.12.2) (4.49.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn==0.12.2) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn==0.12.2) (23.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn==0.12.2) (10.2.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn==0.12.2) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn==0.12.2) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from pandas>=0.25->seaborn==0.12.2) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from pandas>=0.25->seaborn==0.12.2) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn==0.12.2) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: Invalid requirement: 'sciit-learn=1.3.0'
Hint: = is not a valid operator. Did you mean == ?

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
!pip install pytest-warnings==0.3.1
import warnings
warnings.filterwarnings("ignore")

Requirement already satisfied: pytest-warnings==0.3.1 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (0.3.1)
Requirement already satisfied: pytest in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from pytest-warnings==0.3.1) (8.3.1)
Requirement already satisfied: iniconfig in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from pytest->pytest-warnings==0.3.1) (2.0.0)
Requirement already satisfied: packaging in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from pytest->pytest-warnings==0.3.1) (23.2)
Requirement already satisfied: pluggy<2,>=1.5 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from pytest->pytest-warnings==0.3.1) (1.5.0)
Requirement already satisfied: colorama in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from pytest->pytest-warnings==0.3.1) (0.4.6)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df_train = pd.read_csv('train_data.csv',sep=':::',names=['title','Genre','description'])

In [ ]:
df_train

,title,Genre,description
1,Oscar et la dame rose (2009),drama,Listening in to a conversation between his do...
2,Cupid (1997),thriller,A brother and sister with a past incestuous r...
3,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fie...
4,The Secret Sin (1915),drama,To help their unemployed father make ends mee...
5,The Unrecovered (2007),drama,The film's title refers not only to the un-re...
...,...,...,...
54210,"""Bonino"" (1953)",comedy,This short-lived NBC live sitcom centered on ...
54211,Dead Girls Don't Cry (????),horror,The NEXT Generation of EXPLOITATION. The sist...
54212,Ronald Goedemondt: Ze bestaan echt (2008),documentary,"Ze bestaan echt, is a stand-up comedy about g..."
54213,Make Your Own Bed (1944),comedy,Walter and Vivian live in the country and hav...
54214,Nature's Fury: Storm of the Century (2006),history,"On Labor Day Weekend, 1935, the most intense ..."

In [ ]:
df_train.shape

(54214, 3)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 54214 entries, 1 to 54214
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        54214 non-null  object
 1   Genre        54214 non-null  int64
 2   description  54214 non-null  object
dtypes: int64(1), object(2)
memory usage: 3.7+ MB

In [ ]:
df_train.isnull()

       title  Genre  description
1      False  False        False
2      False  False        False
3      False  False        False
4      False  False        False
5      False  False        False
...      ...    ...          ...
54210  False  False        False
54211  False  False        False
54212  False  False        False
54213  False  False        False
54214  False  False        False

[54214 rows x 3 columns]

In [ ]:
df_train.isnull().mean()

title          0.0
Genre          0.0
description    0.0
dtype: float64

In [ ]:
df_train.head()

,title,Genre,description
1,Oscar et la dame rose (2009),drama,Listening in to a conversation between his do...
2,Cupid (1997),thriller,A brother and sister with a past incestuous r...
3,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fie...
4,The Secret Sin (1915),drama,To help their unemployed father make ends mee...
5,The Unrecovered (2007),drama,The film's title refers not only to the un-re...

In [ ]:
df_train['description']

1         Listening in to a conversation between his do...
2         A brother and sister with a past incestuous r...
3         As the bus empties the students for their fie...
4         To help their unemployed father make ends mee...
5         The film's title refers not only to the un-re...
                               ...
54210     This short-lived NBC live sitcom centered on ...
54211     The NEXT Generation of EXPLOITATION. The sist...
54212     Ze bestaan echt, is a stand-up comedy about g...
54213     Walter and Vivian live in the country and hav...
54214     On Labor Day Weekend, 1935, the most intense ...
Name: description, Length: 54214, dtype: object

In [ ]:
df_train.describe()

,title,Genre,description
count,54214,54214,54214
unique,54214,27,54086
top,Oscar et la dame rose (2009),drama,Grammy - music award of the American academy ...
freq,1,13613,12

In [ ]:
df_test=pd.read_csv('test_data.csv',sep=':::',names=['S.No','title','Description'])

In [ ]:
testDataSol= pd.read_csv('test_data_solution.csv',sep=':::',names=['title','Genre','Description'])

In [ ]:
testDataSol.head()

,title,Genre,Description
1,Edgar's Lunch (1998),thriller,"L.R. Brane loves his life - his car, his apar..."
2,La guerra de papá (1977),comedy,"Spain, March 1964: Quico is a very naughty ch..."
3,Off the Beaten Track (2010),documentary,One year in the life of Albin and his family ...
4,Meu Amigo Hindu (2015),drama,"His father has died, he hasn't spoken with hi..."
5,Er nu zhai (1955),drama,Before he was known internationally as a mart...

In [ ]:
df_test=df_test.drop('S.No',axis=1)

In [ ]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54200 entries, 0 to 54199
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        54200 non-null  object
 1   Description  54200 non-null  object
dtypes: object(2)
memory usage: 847.0+ KB

In [ ]:
df_test.isnull()

       title  Description
0      False        False
1      False        False
2      False        False
3      False        False
4      False        False
...      ...          ...
54195  False        False
54196  False        False
54197  False        False
54198  False        False
54199  False        False

[54200 rows x 2 columns]

In [ ]:
df_test.isnull().mean()

title          0.0
Description    0.0
dtype: float64

In [ ]:
df_test.describe()

,title,Description
count,54200,54200
unique,54200,54072
top,Edgar's Lunch (1998),Grammy - music award of the American academy ...
freq,1,10

In [ ]:
df_train['Genre'].unique()

array([' drama ', ' thriller ', ' adult ', ' documentary ', ' comedy ',
       ' crime ', ' reality-tv ', ' horror ', ' sport ', ' animation ',
       ' action ', ' fantasy ', ' short ', ' sci-fi ', ' music ',
       ' adventure ', ' talk-show ', ' western ', ' family ', ' mystery ',
       ' history ', ' news ', ' biography ', ' romance ', ' game-show ',
       ' musical ', ' war '], dtype=object)

In [ ]:
encode_Genre= {' drama ':0, ' thriller ':1, ' adult ':2, ' documentary ':3, ' comedy ':4,
       ' crime ':5, ' reality-tv ':6, ' horror ':7, ' sport ':8, ' animation ':9,
       ' action ':10, ' fantasy ':11, ' short ':12, ' sci-fi ':13, ' music ':14,
       ' adventure ':15, ' talk-show ':16, ' western ':17, ' family ':18, ' mystery ':19,
       ' history ':20, ' news ':21, ' biography ':22, ' romance ':23, ' game-show ':24,
       ' musical ':25, ' war ':26}

In [ ]:
df_train['Genre']=df_train['Genre'].map(encode_Genre)

In [ ]:
df_train.head()

,title,Genre,description
1,Oscar et la dame rose (2009),0,Listening in to a conversation between his do...
2,Cupid (1997),1,A brother and sister with a past incestuous r...
3,"Young, Wild and Wonderful (1980)",2,As the bus empties the students for their fie...
4,The Secret Sin (1915),0,To help their unemployed father make ends mee...
5,The Unrecovered (2007),0,The film's title refers not only to the un-re...

In [ ]:
import re
import nltk

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
# cleaning The Data
import nltk
from nltk.stem import LancasterStemmer
from nltk.corpus import stopwords
import re
import string
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [ ]:
corpus = []

In [ ]:
df_train['description'][1]

' Listening in to a conversation between his doctor and parents, 10-year-old Oscar learns what nobody has the courage to tell him. He only has a few weeks to live. Furious, he refuses to speak to anyone except straight-talking Rose, the lady in pink he meets on the hospital stairs. As Christmas approaches, Rose uses her fantastical experiences as a professional wrestler, her imagination, wit and charm to allow Oscar to live life and love to the full, in the company of his friends Pop Corn, Einstein, Bacon and childhood sweetheart Peggy Blue.'

In [ ]:
# Initialize stemmer and stopwords
stemmer = LancasterStemmer()
stop_words = set(stopwords.words("english"))

In [ ]:
def cleaning_data(text):
    text = text.lower()
    text = re.sub(r'@\S+', '', text)
    text = re.sub(r'http\S+', '', text)
    text = re.sub(r'.pic\S+', '', text)
    text = re.sub(r'[^a-zA-Z+]', ' ', text)
    text = "".join([i for i in text if i not in string.punctuation])
    words = nltk.word_tokenize(text)
    text  = " ".join([i for i in words if i not in stop_words and len(i)>2])
    text = re.sub(r"\s+"," ",text).strip()
    return text
df_train["TextCleaning"]= df_train["description"].apply(cleaning_data)
df_test["TextCleaning"]=df_test["Description"].apply(cleaning_data)

In [ ]:
df_train.head()

,title,Genre,description,TextCleaning
1,Oscar et la dame rose (2009),0,Listening in to a conversation between his do...,listening conversation doctor parents year old...
2,Cupid (1997),1,A brother and sister with a past incestuous r...,brother sister past incestuous relationship cu...
3,"Young, Wild and Wonderful (1980)",2,As the bus empties the students for their fie...,bus empties students field trip museum natural...
4,The Secret Sin (1915),0,To help their unemployed father make ends mee...,help unemployed father make ends meet edith tw...
5,The Unrecovered (2007),0,The film's title refers not only to the un-re...,film title refers recovered bodies ground zero...

In [ ]:
df_test.head()

,title,Description,TextCleaning
0,Edgar's Lunch (1998),"L.R. Brane loves his life - his car, his apar...",brane loves life car apartment job especially ...
1,La guerra de papá (1977),"Spain, March 1964: Quico is a very naughty ch...",spain march quico naughty child three belongin...
2,Off the Beaten Track (2010),One year in the life of Albin and his family ...,one year life albin family shepherds north tra...
3,Meu Amigo Hindu (2015),"His father has died, he hasn't spoken with hi...",father died spoken brother years serious cance...
4,Er nu zhai (1955),Before he was known internationally as a mart...,known internationally martial arts superstar b...

# Writing Steps in a model to fiting them using Pipeline

In [ ]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.pipeline import Pipeline

In [ ]:
clf  = Pipeline([('vectorizer',CountVectorizer()),('nb',MultinomialNB())])

In [ ]:
clf.fit(df_train.TextCleaning,df_train.Genre)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
encode_Genre = LabelEncoder()

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
# making prediction of the test
y_pred = clf.predict(df_test.TextCleaning)
y_true =encode_Genre.fit_transform(testDataSol['Genre'])
# the model Accuracy
accuracy = accuracy_score(y_true,y_pred)
print(f"Accuracy:{accuracy*100:.2f}%")

Accuracy:1.92%